[Unit]
Description=domino-server2
Requires=docker.service
After=docker.service

[Service]
Environment=SERVICE_NAME=server2
Restart=always
User=root
Group=docker
WorkingDirectory=/home/daniele/dominocamp2021-dominodocker/recipe5
# Shutdown container (if running) when unit is started
# ExecStartPre=/usr/local/bin/docker-compose up ${SERVICE_NAME}
# Start container when unit is started
ExecStart=/usr/local/bin/docker-compose up ${SERVICE_NAME}
# Stop container when unit is stopped
ExecStop=/usr/local/bin/docker-compose stop ${SERVICE_NAME}

[Install]
WantedBy=multi-user.target